.container {
  width: 100%;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}
.icon {
  width: 24px;
  height: 24px;
}
.textNormal {
  color: #1c1b1e;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.textMedium {
  color: #1c1b1e;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.containerBookingHotel {
  width: calc(100% - 160px);
  margin: 0 auto;
}
.textTitleBooking {
  color: #1c1b1e;
  font-family: Mulish;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.containerBooking {
  margin-top: 32px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.containerHotelInforCustomer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: calc(100% - 500px);
}
.containerHotel {
  background-color: #ffffff;
  border-radius: 8px;
  border: 0.5px solid #aeaaaf;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.containerImgHotel {
  min-width: 150px;
  width: 150px;
  height: 150px;
  border-radius: 8px;
  overflow: hidden;
}
.imgHotel {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.containerInforHotel {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
}
.containerDetailsHotels {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.textNameHotel {
  color: #1c1b1e;
  font-family: Mulish;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.containerTypeHotel {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
  align-items: center;
}
.containerStarHotel {
  display: flex;
  flex-direction: row;
  gap: 4px;
  width: fit-content;
}
.TypeHotel {
  padding: 4px 8px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #136397;
}
.textTypeHotel {
  font-family: Mulish;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.06px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #136397;
}
.containerAddressHotel {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.containerCheckHotel {
  display: flex;
  flex-direction: row;
  gap: 39px;
}
.checkHotel {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.textCheck {
  color: #1c1b1e;
  font-family: Mulish;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.containerInformationCustomer {
  background-color: #ffffff;
  border-radius: 8px;
  border: 0.5px solid #aeaaaf;
  padding: 16px;
  gap: 24px;
  display: flex;
  flex-direction: column;
}
.containerNotificationSignIn {
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: center;
  background-color: #e8f4fc;
  padding: 8px;
  gap: 10px;
  border-radius: 8px;
}
.btnSignIn {
  width: fit-content;
  cursor: pointer;
  user-select: none;
  transition: transform 0.1s ease, opacity 0.1s ease;
}
.btnSignIn:active {
  transform: scale(0.95);
  opacity: 0.7;
}
.btnSignIn:hover {
  transform: scale(1.02);
}
.textSignIn {
  color: #136397;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.containerInputName {
  width: 100%;
  border-bottom: 1px solid #1c1b1e;
  padding: 8px 0;
}
.containerInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: none;
}
.containerInputNumberPhoneGmail {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
}
.containerInputNumberPhone {
  width: 33%;
  border-bottom: 1px solid #1c1b1e;
  padding: 8px 0;
}
.containerInputEmail {
  width: 60%;
  border-bottom: 1px solid #1c1b1e;
  padding: 8px 0;
}
.containerCheckBooking {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.containerCheck {
  width: 40%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}
.containerCheckRequire {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}
.customCheckbox {
  min-width: 22px;
  min-height: 22px;
  border-radius: 50%;
  appearance: none;
  border: 2px solid #605d62;
  cursor: pointer;
  position: relative;
  background-color: transparent;
}

.customCheckbox:checked {
  border-color: #136397;
}

.customCheckbox:checked::after {
  content: "";
  width: 15px; /* Kích thước vòng tròn bên trong */
  height: 15px;
  border-radius: 50%;
  background-color: #136397; /* Màu vòng tròn bên trong */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.containerRequireSpecial {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  border-radius: 8px;
  background-color: #ffffff;
  border: 0.5px solid #aeaaaf;
}
.TitleRequireSpecialơ {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.textOptional {
  color: #1c1b1e;
  font-family: Mulish;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.containerTypeBed {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.textSemibold {
  color: #48464a;
  font-family: Mulish;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.RequireSpecial {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.customCheckbox_require {
  min-width: 20px;
  min-height: 20px;
  border-radius: 4px;
  appearance: none;
  border: 1.5px solid #605d62;
  cursor: pointer;
  position: relative;
  background-color: transparent;
}

.customCheckbox_require:checked {
  background-color: #1976d2;
  border-color: #1976d2;
}

.customCheckbox_require:checked::after {
  content: "✔";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: white;
}
.containerYourRequire {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inputYourRequire {
  height: 70px;
  top: 340px;
  left: 16px;
  padding: 10px 10px 10px 8px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #939094;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  resize: none;
}

.inputYourRequire::-webkit-scrollbar {
  margin-right: 2px;
  width: 8px; /* Chiều rộng của thanh cuộn */
}

.inputYourRequire::-webkit-scrollbar-thumb {
  background-color: #1976d2; /* Màu sắc của phần di chuyển */
  border-radius: 8px; /* Bo góc phần di chuyển */
  border: 2px solid #ccc; /* Thêm viền cho phần di chuyển */
}

.inputYourRequire::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Màu nền của thanh cuộn */
  border-radius: 8px; /* Bo góc của phần nền */
}
.containerCodeDiscount {
  background-color: #ffffff;
  border-radius: 8px;
  border: 0.5px solid #aeaaaf;
  padding: 16px;
  padding-bottom: 32px !important;
  gap: 16px;
  display: flex;
  flex-direction: column;
}
.containerTitleDiscount {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.containerItemCodeDiscount {
  padding: 10px 6px;
  min-width: 120px;
  width: fit-content;
  background-image: url("../../public/images/hotel/backgroundDiscount.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.containerListCodeDiscount {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-between;
}
.textSuccess {
  font-family: Mulish;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #489b1c;
}
.imgDiscount {
  width: 32px;
  height: 32px;
}
.containerButtonPlus {
  user-select: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.containerButtonPlus:hover {
  transform: scale(1.05);
}
.containerButtonPlus:active {
  transform: scale(0.95);
}
/*  */
.popupBox {
  z-index: 3;
  padding: 16px;
  padding-bottom: 32px !important;
  border: 0.5px solid #aeaaaf;
  border-radius: 8px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Nền mờ */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupContent {
  width: 434px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: white;
  padding: 16px;
  padding-bottom: 32px !important;
  border-radius: 8px;
  /* text-align: center; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* Danh sách mã giảm giá */

.listCodeDiscount {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.containerItemDiscount {
  gap: 0px;
  border-radius: 8px;
  border: 1px solid #aeaaaf;
  display: flex;
  flex-direction: column;
}
.containerSelectNameDiscount {
  align-items: center;
  width: 100%;
  display: flex;
  gap: 5px;
  padding: 8px;
}
.containerExpiryUseCancle {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding: 0 16px 16px 8px;
}
.containerUseCancle {
  width: fit-content;
  user-select: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.containerUseCancle:hover {
  transform: scale(1.05);
}
.containerUseCancle:active {
  transform: scale(0.95);
}
.textUse {
  color: #136397;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.textCancle {
  color: #db242d;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.containerListDiscount {
  height: 300px;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  scrollbar-width: thin;
  scrollbar-color: #b3b3b3 #f0f0f0;
}

/* Đối với Chrome, Safari và Edge */
.containerListDiscount::-webkit-scrollbar {
  width: 8px;
}

.containerListDiscount::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

.containerListDiscount::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
  border-radius: 10px;
  border: 2px solid #f0f0f0;
}

.containerListDiscount::-webkit-scrollbar-thumb:hover {
  background-color: #136397;
}
.containerDiscountDetail {
  width: 100%;
  padding: 8px 16px 0px 8px;
}
.containerCheckedBooking {
  border-radius: 8px;
  background-color: #ffffff;
  border: 0.5px solid #aeaaaf;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px;
}
.textCheckedBooking {
  color: #db242d;
  font-family: Mulish;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.containerChecked {
  width: 100%;
  display: flex;
  justify-content: end;
}
.btnChecked {
  width: 200px;
  padding: 10px;
  gap: 10px;
  border-radius: 8px;
  background-color: #136397;
  align-items: center;
  justify-content: center;
  user-select: none;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.btnChecked:hover,
.containerIconInfor:hover {
  transform: scale(1.03);
}
.btnChecked:active,
.containerIconInfor:active {
  transform: scale(0.98);
}
.textChecked {
  font-family: Mulish;
  font-size: 18px;
  font-weight: 700;
  line-height: 22.59px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
  text-align: center;
}
/* Phòng, giá phòng */
.containerRoomPrice {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 480px;
}
.containerRoomHotel {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 0.5px solid #aeaaaf;
  padding: 16px;
}
.containerImgTypeHotel {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.containerImgRoomHotel {
  width: 360px;
  height: 166px;
  border-radius: 8px;
  overflow: hidden;
}
.containerTypeRoomHotel {
  width: 68px;
  height: 166px;
  padding: 24px;
  border-radius: 8px;
  border: 1px solid #aeaaaf;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerTypeRoomHotel p {
  transform: rotate(-90deg);
  white-space: nowrap;
  display: flex;
  align-items: flex-start;
}
.containerDetailRoomHotel {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 8px;
}
.textNameRoom {
  color: #db242d;
  font-family: Mulish;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.containerDetailRoom {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.containerItemDetail {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
.textInfor {
  color: #48464a;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.containerIconInfor {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.containerBreakfast {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 23px;
  padding: 4px 8px;
  border-radius: 20px;
  background-color: #e0f7d4;
}
.textBreakfast {
  text-align: center;
  font-family: Mulish;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.06px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #489b1c;
}
.containerPriceHotel {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 8px;
  background-color: #ffffff;
  border: 0.5px solid #aeaaaf;
}
.containerOriginalPrice {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
  padding: 8px;
}
.containerTextOriginalPrice {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  user-select: none;
}
.containerTextOriginalPrice:active {
  transform: scale(0.95);
}

.containerTextPayable {
  display: flex;
  flex-direction: column;
}
.textTax {
  font-family: Mulish;
  font-size: 12px;
  font-weight: 500;
  line-height: 15.06px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #605d62;
}
.containerDropbox {
  width: 100%;
  border-radius: 8px;
  background-color: #f4eff4;
  display: flex;
  flex-direction: column;
}
.containerItemOneNight {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 4px 8px;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
}
.containerOriginalPriceDetail {
  display: flex;
  flex-direction: column;
}
.textPriceOriginal {
  font-family: Mulish;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.06px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #605d62;
  text-decoration: line-through;
}
.textPriceDiscountOriginal {
  color: #db242d;
  font-family: Mulish;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.containerDiscount {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}
.containerFinalPrice {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.textMediumPrice {
  color: #136397;
  font-family: Mulish;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.containerChatWith365 {
  width: 100%;
  display: flex;
  justify-content: end;
}
.btnChatWith365 {
  margin-top: 16px;
  width: 261px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  box-shadow: 1px 2px 10px 0px #2020201a;
  background-color: #489b1c;
  cursor: pointer;
  user-select: none;
}
.btnChatWith365:active {
  transform: scale(0.98);
}
.textChat {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}
.containerHotel1166 {
  background-color: #ffffff;
  border-radius: 8px;
  border: 0.5px solid #aeaaaf;
  padding: 16px;
  display: none;
  flex-direction: row;
  gap: 16px;
}
.containerPriceHotel1166 {
  width: 100%;
  display: none;
  flex-direction: column;
  padding: 16px;
  border-radius: 8px;
  background-color: #ffffff;
  border: 0.5px solid #aeaaaf;
}
.containerNameHotelCancel {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
}
.containerX {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.containerX:active {
  transform: scale(0.8);
}
.containerX:active {
  transform: scale(1.2);
}
/* responsive */
@media screen and (max-width: 1920px) {
  .containerBookingHotel {
    width: calc(100% - 400px);
  }
}

@media screen and (max-width: 1520px) {
  .containerBookingHotel {
    width: calc(100% - 200px);
  }
}
@media screen and (max-width: 1366px) {
  .containerBookingHotel {
    width: calc(100% - 150px);
  }
}
@media screen and (max-width: 1166px) {
  .containerBookingHotel {
    width: calc(100% - 150px);
  }
  .containerHotel1166 {
    display: flex;
  }
  .containerHotel {
    display: none;
  }
  .containerBooking {
    flex-direction: column-reverse;
  }
  .containerRoomPrice {
    width: 100%;
  }
  .containerHotelInforCustomer {
    width: 100%;
  }
  .containerImgRoomHotel {
    flex-grow: 1;
  }
  .imgRoom {
    height: 274px;
    width: 100%;
    object-fit: cover;
  }
  .containerImgTypeHotel {
    gap: 20px;
  }
  .containerImgRoomHotel {
    height: 274px;
  }
  .containerTypeRoomHotel {
    height: 274px;
  }
  .containerPriceHotel1166 {
    display: flex;
  }
  .containerPriceHotel {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .containerBookingHotel {
    width: calc(100% - 64px);
  }
  .containerImgRoomHotel {
    height: 200px;
  }
  .containerTypeRoomHotel {
    height: 200px;
  }
  .containerCheckHotel {
    gap: 16px;
  }
}
@media screen and (max-width: 540px) {
  .containerBookingHotel {
    width: calc(100% - 32px);
  }
  .containerCheckHotel {
    flex-direction: column;
    gap: 8px;
  }
  .checkHotel {
    flex-direction: row;
    align-items: center;
    gap: 4px;
  }
  .containerCheckBooking {
    justify-content: space-between;
  }
}
